<div id="about-container">
  <div id="about-container-inner">
      <app-header></app-header>
      <div class="about-content">
          <div class="banner">
              <h2 class="drop-shadow">About Us</h2>
              <p class="drop-shadow">This assignment was created by Franklin Delos Santos</p>
              <p class="drop-shadow">It was created for IS183 at Fresno State University.</p>
              <button class="btn btn-primary drop-shadow">Learn More</button>
          </div>
      </div>
      <div class="top-section box-shadow">
          <div class="top-inner-section">
              <div class="pic-container">
                  <img src="../../assets/img/IMG_2275 2.JPG" class="bio-image" alt="my pic">
              </div>
              <div class="bio-description">
                  <h2>Who is Franklin Delos Santos?</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                    the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
          </div>
      </div>
  </div>
</div>